<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <!--<add key="ClientConnectType" value="SQLSERVER"/>-->
    
    <add key="TargetConnection" value="SQLSERVER"/>
    <!-- <add key="TARGETConnect" value="ORACLE"/>ORACLE-->
    <add key="ClientConnectType" value="SQLSERVER"/>
    <!--<add key="ClientConnectType" value="OleDB"/>-->
    <add key="AppServer" value="127.0.0.1"/>
    <!--<add key="StrConn" value="Provider=msdaora;Password=emr;Persist Security Info=True;User ID=emr;Data Source=JHEMR" />-->

  </appSettings>
  <dataConfiguration defaultDatabase="DataAccess"/>
  <connectionStrings>
    <!-- <add name="DataAccess" providerName="System.Data.OracleClient" connectionString="Data Source=jhemr;User ID=emr;Password=emr"/>-->
    <!--  <add name="SQLSERVER" connectionString="server=WUHAILONG;initial catalog=JHEMR;uid=sa;pwd=Whl05043016" providerName="System.Data.SqlClient"/>-->
    <add name="SQLSERVER" connectionString="server=192.168.10.41;initial catalog=ntzl;uid=sa;pwd=pass01!```!@" providerName="System.Data.SqlClient"/>
    <add name="TargetConnection" connectionString="server=192.168.10.41;initial catalog=NTZLYY;uid=sa;pwd=pass01!```!@" providerName="System.Data.SqlClient"/>
    <!--<add name="targetConnection" connectionString="Password=emr;Persist Security Info=True;User ID=emr;Data Source=j" providerName="System.Data.OracleClient"/>-->
    <add name="ORACLE" connectionString="Password=emr;Persist Security Info=True;User ID=emr;Data Source=jhemr" providerName="System.Data.OracleClient"/>
    <!--<add name="OleDB" connectionString="Provider=MSDAORA.1; Data Source=jhemrbh;User ID=emr;Password=emr"/>-->
  </connectionStrings>
</configuration>